/*
* CDI Styles 
*
* #82786f -- branding grey/purple dark
* #8e9300 -- branding green dark
* 
*
*/

h1, h2, h3 { font-family: "HouschkaPro-Bold"; }
h4 { font-family: "HouschkaPro-Medium"; }

a {
	color: #aca902;
}

a:hover {
	color: #736d2c;
	color: #8e9300;
}

.btn-primary {
	color: #fff;
	background-color: #786d6b;
	border-color: #786d6b;
}

.btn-primary:hover {
	color: #fff;
	background-color: #736d2c;
	border-color: #736d2c;
}

.form-control:focus {
  border-color: #aca902;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 222, 138, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 222, 138, 0.6);
}

.navbar-default {
	background-color: #786d6b;
	border-color: #736d2c;
	background-color: transparent;
	border-color: transparent;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #aca902;
	background-color: transparent;
}

#logo {
	margin:8px 0 8px 0;
	text-indent:-5000px;
	font-size:0;
	line-height:0;
	display:block;
	width:110px;
	height:71px;
	background:url('../../logo.png') no-repeat top left;
}

ul.navbar-nav {
	margin:10px 0 0 0;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #aca902;
	background-color: transparent;
}

.view-id-people .views-row {
    max-width: 49%;
    width: 49%;
    height: auto;
    float: left;
    margin-right: 1%;
    margin-bottom: 0.5em;
}


.view-id-people .views-row img.panopoly-image-quarter {
    max-width: 100%;
    width: 100%%;
}

.view-id-people .views-field-field-photo {
	background-color: #F5F5F5;	
}

.view-id-people .views-field-field-photo .field-content {
	text-align:center;
}

.view-id-people .views-field-field-photo img.panopoly-image-quarter {
	margin-top:0;
}

.view-id-people .views-field-field-role {
	background-color: #F5F5F5;
	min-height:50px;
}

.view-id-people .views-field-field-role .field-content {
	padding:3px 10px;
}

.view-id-people .views-field-title {
	background-color: #F5F5F5;
}

.view-id-people .views-field-title .field-content a {
	padding:8px 10px 3px 10px;
	display:block;
}

.pagination > li > a, .pagination > li > span {
	color: #aca902;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
	color: #82786f;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	background-color: #82786f;
	border-color: #82786f;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #82786f;
}

.node-person .field-name-field-photo {
	float: left;
	padding: 0 15px 5px 0;
}


.dropdown-menu > li > span.nolink {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
	text-transform:uppercase;
	font-size:0.85em;
}

div#navbar-collapse {
 	display: block; 
	visibility: visible; 
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

/* hide sub-nav for mobiles */
.responsive-menu .sub-menu,
.responsive-menu .sub-menu.active {
	max-height: 0;
	overflow: hidden;
}

.pane-menu-tree .dropdown-menu {
	position: relative;
	top: auto;
	left: auto;
	z-index: 1000;
	display: block;
	float: none;
	min-width: auto;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-clip: none;
}


.pane-node .view-mode-full > h2 {
	display:none;
}

.pane-node .node-event .field-name-field-date {
	font-weight:bold;
	margin-bottom:1em;
}

.panel-panel .panel-panel-inner {
	background-color:#eee;
	margin: 0.5em 0;
	padding: 0.5em 1em;
}

.front .radix-layouts-middle {
	display:none;
}

.front h4.pane-title {
	font-weight: bold;
	font-size: 1em;
	border-bottom:1px solid #ddd;
}

.view-latest-news-with-thumbs .views-field-field-featured-image {
	float:left; 
	margin:0 10px 5px 0;
}

.view-latest-blog-posts-with-thumbs .views-row,
.view-latest-news-with-thumbs .views-row {
	clear:both;
	margin-bottom:1em;
	overflow:hidden;
}

.view-id-partners .views-row {
	clear:both;
	margin-bottom:1em;
	overflow:hidden;
}

.view-id-partners .views-field-field-logo {
	float:left; 
	margin:0 10px 5px 0;
}

.view-id-partners .views-field-title {
	padding-top:1.5em;
}
