html.js #navbar-administration {
    display: none;}

/*

Old Purple #662673
New purple #3A1841
Logo Green #737800
Murky green #8e9300
Light green #ecebd9
Warm grey: #826e6f
Slate grey: #575757;
*/

/* OVERRIDES OF CDI_STYLES */
.front h4.pane-title {
    border-bottom: 0px solid #ddd;
    font-size: 1em;
    font-weight: normal;
}
.panel-panel .panel-panel-inner {
    background-color: transparent;
    margin: 0em 0;
    padding: 0em;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #826e6f;
  background-color: inherit;
}

.nav-pills .nolink {display: block; background-color: #826e6f; color: #fff; padding: 8px; font-family: "HouschkaPro-Bold"; }
.pane-menu-tree .dropdown-menu { z-index: 400; }
.view-themes-landing .views-row {
  width: 50%; 
  padding: 0; margin: 0;
  float: left;
  display: inline;
  border: 0px solid #f00;
}
.view-themes-landing .views-row-inner {padding: 10px; margin: 10px 10px 10px 10px;	background-color: #ecebd9;}
.view-themes-landing .views-row .views-field {margin: 0px; }
.view-themes-landing .views-row .views-field-name {  font-family: "HouschkaPro-Bold"; font-size: 20px; }
.front h4.pane-title { font-size: 1.1em; }


.view-id-people .views-row { max-width: 20%; width: 20%; margin: 0; overflow: hidden !important;}
.view-id-people .views-field-title {  background-color: #ecebd9; }
.view-id-people .views-row-inner {  background-color: #ecebd9; }
.view-id-people .view-content:before, .view-id-people .view-content:after {content:"";display:block;}
.view-id-people .view-content:after {clear:both;} 
.view-people .views-row { padding: 0 !important; }
.view-id-people .views-row-inner { max-width: auto; width: auto; height: auto; float: left; margin: 5px 5px 5px 5px; padding: 0 !important;  }
.view-id-people .views-field-field-role {    background-color: #ecebd9;   min-height: inherit; }
.view-id-people .views-field-title .field-content a { padding: 0px 0px 0px 0px;  display: block; }
.view-id-people .views-field-title .field-content,
.view-id-people .views-field-field-role .field-content,
.view-id-people .views-field-field-organisation .field-content { display: block; padding: 3px 10px;}
.view-id-people .views-field-field-photo img { width: 100%; }

/* OVERRIDES OF RADIX */
.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
}


.pane-bundle-spotlight .panopoly-spotlight { background-color: #eee; }
.pane-bundle-spotlight .panopoly-spotlight > a {display: block; position: relative; }

.pane-bundle-spotlight .panopoly-spotlight img {	width: 50%; float: left; }
.pane-bundle-spotlight .panopoly-spotlight-wrapper { position: absolute; width: 50%; bottom: 0; left: 50%; }
.pane-bundle-spotlight .pane-content { background: url('../images/box-bg.png') right bottom no-repeat #fff; }
.pane-bundle-spotlight .ui-widget-content .panopoly-spotlight-label a {
    width: 100%;
    color: #8e9300;
}
.pane-bundle-spotlight .panopoly-spotlight-info {
    background-color: transparent; 
    font-size: 18px;
    color: #333;
    opacity: 0.9;
    padding: 1em 0.7em;
}
.pane-bundle-spotlight .ui-widget button { font-size: 14px; margin-top: 10px; }

body { background-color: #eee; font-size: 13px; color: #777; padding-top: 0px !important;} 
.pane-content .views-field-field-publication-date,
.pane-content .views-field-created,
.pane-content .views-field-field-date
 { color: #3A1841; font-weight: bold;}
#main-wrapper { background-color: #eee; }
#header { background-color: #fff; }
#main-menu { background-color: #575757; }


.panel-pane { background-color: #fff; }
.panel-pane .pane-content { padding: 10px; }

.not-front #page-header { padding: 10px 10px 0px 10px; background-color: #fff; }
.navbar-collapse { padding: 0; }
/.panel-layout-radix_selby .radix-layouts-contentcolumn1 { padding: 10px; }



h1, h2 { color: #8e9300; }
h4 { color: #3A1841; font-size: 13px; padding-left: 8px; }
x.pane-content { padding: 10px; }

.front .page-header { display: none; }

.pane-fpid-4 { padding: 30px 18%; }
.pane-fpid-4 p {
	xtext-transform: uppercase;
	text-align: center;
	font-family: "HouschkaPro-Bold"; 
	color: #777;
	font-size: 18px;
}
.pane-fpid-4 p span { color: #737800; }
.pane-fpid-4.panel-pane, 
.pane-fpid-4.panel-pane .pane-content
 { background-color: #eee !important; }


.pane-webform-client-block-174 .pane-content,
.radix-layouts-content .pane-node,
.radix-layouts-content .pane-bundle-text,
.radix-layouts-content .pane-fieldable-panels-pane,
.radix-layouts-contentheader .pane-taxonomy-term,
.radix-layouts-content .pane-taxonomy-term,
.radix-layouts-content .pane-entity-field,
.radix-layouts-contentheader .pane-entity-field,
.radix-layouts-contentheader .pane-fieldable-panels-pane,
.radix-layouts-contentcolumn1 .pane-entity-field,
.radix-layouts-contentcolumn2 .pane-entity-field,
.radix-layouts-contentfooter .pane-entity-field {padding: 10px; background-color: #fff;}

XXX.panel-pane:not(.pane-views-panes):not(.pane-main-menu) .pane-content {padding: 10px; background-color: #fff;}

#footer-region .block > h2,
h4.pane-title { background-color: #575757; padding: 10px 8px 8px 8px; border-left: 5px solid #737800; color: #fff; font-family: "HouschkaPro-Bold"; font-size: 1.2em; margin: 10px 0 0 0; 
background-repeat: no-repeat; background-size: auto 100%; background-position: 100% 0; }

h4.pane-title a {
	color:#fff;
}

.cdi-style-video h4 { xbackground-image: url('../images/icons/video_white_2.png') } 
.cdi-style-new h4 { background-image: url('../images/icons/new_white_2.png') }
.pane-panopoly-publications-list-publications h4,
.cdi-style-publication h4 { background-image: url('../images/icons/publication_white_2.png') } 
.pane-panopoly-news-list-news-articles h4,
.cdi-style-news h4 { background-image: url('../images/icons/news_white_2.png') } 
.pane-panopoly-blogs-list-blog-posts h4,
.cdi-style-blog h4 { background-image: url('../images/icons/blog_white_2.png') } 
.pane-panopoly-events-list-events h4,
.cdi-style-event h4 { background-image: url('../images/icons/event_white_2.png') } 



h1.title { padding-right: 44px; background-repeat: no-repeat; xbackground-size: auto 100%; background-position: 100% 0; }
body.node-type-publication h1.title { background-image: url('../images/icons/publication_white_2.png') } 
body.node-type-event h1.title { background-image: url('../images/icons/event_white_2.png') } 
body.node-type-blog h1.title { background-image: url('../images/icons/blog_white_2.png') } 
body.node-type-panopoly-news-article h1.title { background-image: url('../images/icons/news_white_2.png') } 

.dropdown-menu > li > a {
    white-space: normal;
}


.fluid-width-video-wrapper { position: unset !important; }
.pane-fpid-5 .pane-content { padding: 10px; }
.pane-fpid-3 .pane-content { padding: 10px; }

/* Views/Content types */

/*.view-display-id-list_news_articles*/  
.view-id-key_contact .views-row,
.view-people .views-row,
.view-id-panopoly_projects .views-row,
.view-id-latest_publications .views-row,
.view-id-panopoly_publications .views-row,
.view-id-panopoly_events .views-row,
.view-id-panopoly_blogs .views-row,
.view-id-panopoly_news .views-row {
	padding: 5px 10px 8px 10px;
}
.view-id-key_contact .views-row:hover,
.view-id-people .views-row:hover,
.view-id-panopoly_projects .views-row:hover,
.view-id-latest_publications .views-row:hover,
.view-id-panopoly_publications .views-row:hover,
.view-id-panopoly_events .views-row:hover,
.view-id-panopoly_blogs .views-row:hover,
.view-id-panopoly_news .views-row:hover {
	background-color: #ecebd9;
}
.view-id-key_contact .views-row .views-field-title a,
.view-id-people .views-row .views-field-title a,
.view-id-panopoly_projects .views-row .views-field-title a,
.view-id-latest_publications .views-row .views-field-title a,
.view-id-panopoly_publications .views-field-title a,
.view-id-panopoly_events .views-field-title a,
.view-id-panopoly_blogs .views-field-title a,
.view-id-panopoly_news .views-field-title a { 
	font-family: "HouschkaPro-Bold"; color: #737800; font-size: 16px;
}


/* Menus */
#superfish-1 { width: 100%; display: block; z-index: 999;}
#superfish-1 > li > a { border-right: 1px solid #fff !important; }
#superfish-1 a {
	color: #fff; background-color: #575757; padding: 10px 10px; 
	font-family: "HouschkaPro-Bold"; font-size: 14px;
}
ul#superfish-1 > li ul { border: 0; }
#superfish-1 a:hover { background-color: #3A1841; text-decoration: none; }

ul#superfish-1 > li > a.sf-depth-1 { background-color: #575757; }
ul#superfish-1 > li > a.sf-depth-1:hover { background-color: #3A1841; text-decoration: none;}
ul#superfish-1 > li.active-trail > a.sf-depth-1 {
	background-color: #8e9300;
}
ul#superfish-1 .nolink { background-color: #826e6f; color: #fff; font-family: "HouschkaPro-Bold";	}

.pane-main-menu {}
.dropdown-menu > li > a,
.pane-main-menu a { color: #826e6f; background-color: #fff; padding: 10px 10px; 
	font-family: "HouschkaPro-Bold"; font-size: 14px;
}
.pane-main-menu a:hover { background-color: #fff; }
.pane-main-menu li.active a,
.pane-main-menu li.active > a:hover,
.pane-main-menu li.active > a:focus { color: #575757; background-color: #fff;	}
.pane-main-menu a.active-trail { color: #737800; background-color: #fff; }

ul#superfish-1 > li > a.menuparent {
	background-image:url('../images/top-nav-open-arrow-pad-8.png');
	background-position:center right;
	background-repeat: no-repeat;
	padding-right:28px;
}

