/* Reponsive Media overrides */

@media (min-width: 768px) {
	
	.view-id-people .views-row {
	    max-width: 24%;
	    width: 24%;
	}	
	
	#logo {
		margin:0;
	}	
	.not-logged-in .navbar-default {
		margin-top:20px;
	}
	
	#block-block-1 .content ul li.conect-title {
		width:40%;
	}
	
	#block-block-1 .content ul li.conect-content {
		width:60%;
	}
	
	#block-block-1 .content ul .social-links li {
		width:25%;
	}
	
	#logo {
		font-size: 2em;
	}
	
	#logo #site-slogan {
		margin-top:0.25em;
	}
	
}
