/* Reponsive Media overrides */

@media (min-width: 768px) {
	
	.view-id-people .views-row {
	    max-width: 24%;
	    width: 24%;
	}	
	
	#logo {
		margin:0;
	}	
	.not-logged-in .navbar-default {
		margin-top:20px;
	}
	.view-footer-partners{
		width:50%;
	}
	
}
